bin/
output.zip
.idea/.gitignore
.idea/libraries/
.idea/misc.xml
.idea/
SimpleBoardGameSimulator.iml
out/
build
.gradle
PrivateGames/
Server/
doc/documentation.synctex.gz
doc/documentation.log
doc/documentation.aux
replay_pid*.log
hs_err_pid*.log
doc/anleitung.log
doc/anleitung.aux
doc/anleitung.synctex.gz
.project
gradle/
*.yml
